# Configuration files
/src/main/resources/config.properties

# Ignored directories
/Bericht_Exambuilder/
/Bachelorarbeit/
/Presentation_LaTeX/

# Build output
/target/

# Other ignored files
Presentation_LaTeX.zip
